---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import 'text_asides';
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

.page-content .site-header-container {
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.33);
  background-color: #634580;
}
.site-footer {
  background-color: #634580;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 350px;
  margin-left: 15px;

  @media screen and (max-width: $medium-screen) {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;

    overflow: scroll;
    height: 100vh;
    padding: 10px 40px;
    margin-left: 0;
    background: white;
    border-right: 2px solid #70aad0;
    box-shadow: 0 0 20px black;

    &.mobile-show {
      display: block;
    }
  }
}

.sidebar-list {
  list-style-type: none;
}

.model-diagram {
  width: 31%;
  margin-bottom: 40px;
}
